@model LushNailBar.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Create Service";

}
<header class="dark-base"></header>
<section class="page-selection">
    <div class="container">
        <form method="post" asp-action="Create">
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class= "form-group row">
                    <h2 class="text-info pl-3">Create Service</h2>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Service.ServiceType"></label>
                    </div>                
                    <div class="col-8">  
                        <div id="serviceTypeDivParent" class="row">
                            <div class="col-3">
                                <select id="serviceTypeSelection" asp-for="@Model.Service.ServiceType" onchange="createNewType(this.value)">
                                    @* value="" help for validation at model level => SeviceType can't be empty *@
                                    <option value="">Select one</option>                        
                                    @if(Model.ServiceLookup.Count() > 0)
                                    {
                                        @foreach (IGrouping<string, Service> services in Model.ServiceLookup)
                                        {
                                            <option value="@services.Key">@services.Key</option>
                                        }       
                                    }  
                                    <option value="add-new">Add new</option>  
                                </select>  
                            </div>
                            <div id="serviceTypeDivChild2" class="hidden">
                                <input asp-for="@Model.Service.ServiceType" class="form-control"/>
                            </div>                          
                            <span asp-validation-for="@Model.Service.ServiceType" class="text-danger"></span>
                        </div>                          
                    </div> 
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Service.ServiceName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.ServiceName" class="form-control" />
                        <span asp-validation-for="@Model.Service.ServiceName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Service.ServicePrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.ServicePrice" class="form-control" />
                        <span asp-validation-for="@Model.Service.ServicePrice" class="text-danger"></span>
                    </div>                
                </div>
                <div class="form-group row">      
                    <div class="col-4">
                        <label asp-for="@Model.Service.Description"></label>                    
                    </div>
                    <div class="col-8">
                        <textarea asp-for="@Model.Service.Description" class="form-control" rows="3"></textarea>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create"/>
                        </div>
                        <div class="col">
                                <a asp-controller="Service" asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@* this is for client side validation and it will do instance validation *@
@section Scripts{
    @{<partial name="_ValidationScriptsPartial" />}
}